@import "helpers/reset";
@import "helpers/_variables";
@import "helpers/_mixins";
@import "@/shared/ui/button/button";
@import "@/shared/ui/link/link";
@import "@/shared/ui/input/input";
@import "@/shared/ui/notFound/notFound";
@import "@/shared/ui/textarea/textarea";
@import "@/shared/ui/avatar/avatar";
@import "@/shared/ui/dialog/dialog";
@import "@/features/chat/ui/chatFooter/chatFooter";
@import "@/features/chat/ui/chatInnerDialog/chatInnerDialog";
@import "@/features/chat/ui/chatHeader/chatHeader";
@import "@/features/chat/ui/chatBody/chatBody";
@import "@/features/chat/ui/chatItem/chatItem";
@import "@/features/profile/ui/profileEditList/profileEditList";
@import "@/widgets/chat/ui/chatLayout";
@import "partials/authorization";
@import "partials/profile";
@import "partials/form";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui;
  background-color: #f1f8fb;
  color: #000;
  font-size: 10px;
}
