<section class='chat'>
	<div class='chat__wrap'>
		<div class='chat__sidebar'>
      <div class="chat__topbar">
        {{> link label="Профиль >" to="/src/pages/profile/profile.html" class="chat__profile"}}
        {{> input class="chat__search" placeholder="Поиск"}}
      </div>
      <ul class="chat__list">
        <li>{{> chatItem name="Rick Sanchez" message="wassup" date="12:00"}}</li>
      </ul>
    </div>
		<div class='chat__body'>
      {{> chatHeader name="Rick Sanchez"}}
      {{> chatBody}}
      {{> chatFooter}}
    </div>
	</div>
</section>