<div class='chat-footer'>
	{{!--{{{Input name='message' placeholder='Сообщение' class='textarea'}}}--}}
	{{{Textarea id='message'}}}
	{{{Button
		label='отправить'
		type='submit'
		class='chat-footer__btn'
		onClick=click
	}}}
</div>
