.profile {
  &__wrap {
    height: 100vh;
    display: grid;
    grid-template-columns: 64px 1fr;
  }
  &__back {
    cursor: pointer;
    background-color: $primary-color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      transform: rotate(180deg);
    }
  }
}
