<div class='chat-item'>
  {{> avatar src="/avatar.svg" }}
  <div class="chat-item__group">
    <h4 class="chat-header__name">{{name}}</h4>
    <p class="chat-item__message">{{message}}</p>
  </div>
  <p class="chat-item__date">{{date}}</p>
</div>
