<ul class='profile-edit'>
	<li class='profile-item'>{{{Button
			class='profile-edit__link profile-edit__change'
			label='Изменить данные'
			onClick=onClickProfileEdit
		}}}</li>
	<li class='profile-item'>{{{Button
			class='profile-edit__link profile-edit__change'
			label='Изменить пароль'
			onClick=onClickPasswordEdit
		}}}</li>
	<li class='profile-item'>{{{Button
			class='profile-edit__link profile-edit__exit'
			label='Выйти'
			onClick=onClickSignIn
		}}}</li>
</ul>
