<ul class='profile-edit'>
	<li class='profile-item'>{{{Link
			class='profile-edit__link profile-edit__change'
			label='Изменить пароль'
			to='/profilepassword'
		}}}</li>
	<li class='profile-item'>{{{Button
			class='profile-edit__link profile-edit__exit'
			label='Выйти'
			onClick=onClickSignIn
		}}}</li>
</ul>
