.auth {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  &__group {
    margin: 4rem 0 6rem;
  }

  &__btn {
    background-color: $primary-brown;
    &:hover {
      background-color: $primary-brown-dark;
    }
  }

  &__link {
    color: $primary-brown;
    margin-top: 1.2rem;
  }

  &__error {
    display: none;
    color: $primary-red;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    &.error {
      display: block;
    }
  }
}
