{{#> layout}}
  <section class='profile'>
    <div class='profile__wrap'>
      {{{Link label='Назад' class='profile__back' to='/profile'}}}
      <div class='profile__body'>
      <form action="">
        {{{ ProfilePasswordList}}}
      </form>
      </div>
    </div>
  </section>
{{/layout}}
