<section class='not-found'>
	<h2 class='not-found__title'>{{title}}</h2>
	<p class='not-found__subtitle'>{{subtitle}}</p>
  {{> link to="/chat" label="Назад к чатам" class="not-found__link"}}
</section>
