<div class='chat-header'>
	<div class='chat-header__left'>
		{{{Avatar src='/avatar.svg'}}}
		<h4 class='chat-header__name'>{{selectedRoom.title}}</h4>
	</div>
	{{{Button onClick=click label='Удалить чат' class='chat-header__remove'}}}
</div>
