<form onsubmit={{submit}}>
	<label for='avatar'>
		{{{Avatar src=avatar class='profile__avatar'}}}
		<input id='avatar' type='file' hidden />
	</label>
	{{{Button label='Изменить аватарку' type='submit'}}}
</form>
