{{#> layout}}
  <section class='profile'>
    <div class='profile__wrap'>
      <a href='/src/pages/profile/profile.html' class='profile__back'>
        <img src='/arrow.svg' alt='' />
      </a>
      <div class='profile__body'>
        {{> avatar src="/avatar.svg" class="profile__avatar" }}
      <form action="">
        {{> profileList}}
        {{> button type="submit" label="Сохранить" class="profile__save"}}
      </form>
      </div>
    </div>
  </section>
{{/layout}}
