<section class='profile'>
	<div class='profile__wrap'>
		<a href='/src/pages/profile/profile.html' class='profile__back'>
			<img src='/arrow.svg' alt='' />
		</a>
		<div class='profile__body'>
      {{> avatar src="/avatar.svg" class="profile__avatar" }}
      {{> profileList}}
      {{> button label="Сохранить" class="profile__save"}}
		</div>
	</div>
</section>