{{#> layout }}
<section class='profile'>
	<div class='profile__wrap'>
    {{{Link label='Назад' class='profile__back' to='/messenger'}}}
		<div class='profile__body'>
      {{{AvatarProfile}}}
      {{{ProfileList}}}
      {{{ProfileEditList}}}
		</div>
	</div>
</section>
{{/layout}}
