{{#> layout }}
<section class='profile'>
	<div class='profile__wrap'>
		<a href='/src/pages/chat/chat.html' class='profile__back'>
			<img src='/arrow.svg' alt='' />
		</a>
		<div class='profile__body'>
      {{> avatar src="/avatar.svg" class="profile__avatar" }}
      {{> profileList}}
      {{> profileEditList}}
		</div>
	</div>
</section>
{{/layout}}
