{{#> layout }}
<section class='profile'>
	<div class='profile__wrap'>
    {{{Button label='Назад' class='profile__back' onClick=onClick}}}
		<div class='profile__body'>
      {{{Avatar src="/avatar.svg" class="profile__avatar" }}}
      {{{ ProfileList}}}
      {{{ ProfileEditList}}}
		</div>
	</div>
</section>
{{/layout}}
