{{#> layout }}
  <section class="auth">
    <div class="auth__wrap">
      {{#> form title="Регистрация"}}
          <div class="auth__group">
            {{> input placeholder="Почта" type="email" name="email"}}
            {{> input placeholder="Логин" name="login"}}
            {{> input placeholder="Имя" name="first_name"}}
            {{> input placeholder="Фамилия" name="second_name"}}
            {{> input placeholder="Телефон" type="tel" name="phone"}}
            {{> input type="password" placeholder="Пароль" name="password"}}
            {{> input type="password" placeholder="Пароль (ещё раз)" name="password"}}
          </div>

          {{> button type="submit" label="Зарегистрироваться" class="auth__btn"}}
          {{> link to="/src/pages/signIn/signIn.html" label="Войти" class="auth__link"}}
      {{/form}}
    </div>
  </section>
{{/layout}}