<ul class='profile-list'>
	<li class='profile-item profile-list__item'>
		<span>Старый пароль</span>
		<span class='profile-name'>{{> input placeholder="**********" name="oldPassword" type="password" class="profile__input"}}</span>
	</li>
	<li class='profile-item profile-list__item'>
		<span>Новый пароль</span>
		<span class='profile-name'>{{> input placeholder="**********" name="newPassword" type="password" class="profile__input"}}</span>
	</li>
	<li class='profile-item profile-list__item'>
		<span>Повторите новый пароль</span>
		<span class='profile-name'>{{> input placeholder="**********" class="profile__input" type="password"}}</span>
	</li>
</ul>
