$primary-color-light: #c8f3ff;
$primary-color: #71bdd5;
$primary-brown: #ffc183;
$primary-brown-dark: #c29263;
$primary-grey: #999;
$primary-red: #ff0000;
$black: #000;
$White: #fff;

$base-transition: all 0.3s ease-in-out;
