<ul class='profile-list'>
	<li class='profile-item profile-list__item'>
		<span>Почта</span>
		<span class='profile-name'>{{> input placeholder="pochta@yandex.ru" class="profile__input"}}</span>
	</li>
	<li class='profile-item profile-list__item'>
		<span>Логин</span>
		<span class='profile-name'>{{> input placeholder="ivanivanov" class="profile__input"}}</span>
	</li>
	<li class='profile-item profile-list__item'>
		<span>Имя</span>
		<span class='profile-name'>{{> input placeholder="Иван" class="profile__input"}}</span>
	</li>
	<li class='profile-item profile-list__item'>
		<span>Фамилия</span>
		<span class='profile-name'>{{> input placeholder="Иванов" class="profile__input"}}</span>
	</li>
	<li class='profile-item profile-list__item'>
		<span>Имя в чате</span>
		<span class='profile-name'>{{> input placeholder="Иван" class="profile__input"}}</span>
	</li>
	<li class='profile-item profile-list__item'>
		<span>Телефон</span>
		<span class='profile-name'>{{> input placeholder="+7 (909) 967 30 30" type="tel" class="profile__input"}}</span>
	</li>
</ul>